<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <section class="about-content">
            <div class="image">
                <img id="about-img" src="/img/logo.png">
            </div>
            <div class="about-text">
                <p>{{paraContent}}</p>
            </div>
            
        </section>
        
    </div>
    
    {{>footer}}
</body>

</html>